<ul>
    <%
    for( var i=0;i< tplData.DataList.length;i++){
    var aItem= tplData.DataList[i];
    %>
    <li>
        <div class="divItem clearfix">
            <div class="ImgIcon">
                <img class="WxImg" key="<%:=aItem.Hpicture %>" src="images/house.jpg" onerror="javascript:this.src ='images/house.jpg'" />
            </div>
            <div class="ItemContent">
                <div class="MasterTitle">
                    <span><%=aItem.Hvillage %> </span>
                    <span class="label label-info pull-right"><%=aItem.Ftime %></span>
                </div>
                <div class="SubInfos row">
                    <div class="col-md-4">
                        <span>房屋面积: <span class="InfoBlod"><%=aItem.Hsquare %></span>  （m<sup>2</sup>）</span>
                    </div>
                    <div class="col-md-4">
                        <span>厅室: <span class="InfoBlod"><%=aItem.Tname %></span></span>
                    </div>
                    <div class="col-md-4">
                        <span>装修: <span class="InfoBlod"><%=aItem.Dname %></span></span>
                    </div>
                </div>
                <div class="SubInfos row">
                    <div class="col-md-4">
                        <span>方式: <span class="InfoBlod"><%=aItem.RMname %></span></span>
                    </div>
                    <div class="col-md-4">
                        <span>租金: <span class="InfoBlod"><%=aItem.rent %></span> （元 / 月）</span>
                    </div>
                    <div class="col-md-4">
                        <span></span>
                    </div>
                </div>
                <div class="SubInfos row">
                    <div class="col-md-4">
                        <span>发布者: <span class="InfoBlod"><%=aItem.Uname %></span></span>
                    </div>
                    <div class="col-md-4">
                        <span>联系方式: <span class="InfoBlod"><%=aItem.Utel %></span></span>
                    </div>
                    <div class="col-md-4">
                        <span></span>
                    </div>
                </div>
                <div class="SubInfos row">
                    <div class="col-md-4">
                        地点: <span><%=aItem.province %> <%=aItem.city %> <%=aItem.district %></span>
                    </div>
                    <div class="col-md-8 OwnerVillage">
                        <button class="btn btn-xs btn-warning  pull-right" onclick="Home.ShowDetail(<%=i%>)" style="margin:0px 5px">
                            <i class="fa fa-edit"></i> 查看详情
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <%} %>
    <%
    if ( tplData.DataList.length>0){
    %>
    <li>
        <div class="divItem clearfix">
            <div class="row">
                <div class="col-xs-5">
                    共计 <b class="text-success"><%=tplData.RowCount %></b> 条租房信息 每页显示
                    <select style="width:50px" class="cmbPageSize" onchange="Home.ChangePage(0)">
                        <option value="5"<% if(tplData.PageSize=='5'){ %> selected <%} %>>5</option>
                        <option value="10"<% if(tplData.PageSize=='10'){ %> selected <%} %>>10</option>
                        <option value="20"<% if(tplData.PageSize=='20'){ %> selected <%} %>>20</option>
                        <option value="50"<% if(tplData.PageSize=='50'){ %> selected <%} %>>50</option>
                        <option value="100"<% if(tplData.PageSize=='100'){ %> selected <%} %>>100</option>
                    </select>
                    行
                </div>
                <div class="col-xs-7 ">
                    <style>
                        .PageTools {
                            display: inline;
                        }

                            .PageTools a {
                                padding: 0px 5px;
                            }

                                .PageTools a:hover {
                                    cursor: pointer;
                                    color: green;
                                }

                            .PageTools b {
                                color: #444;
                            }
                    </style>
                    <div class="PageTools pull-right">
                        <span><a href="javascript:Home.ChangePage(1)"><i class="fa fa-fast-backward"></i> 首页</a></span>
                        <span><a href="javascript:Home.ChangePage(2)"><i class="fa fa-step-backward"></i> 上一页</a></span>
                        <span> 共 <b><%=tplData.PageCount %></b> 页，第 <b><%=tplData.PageIndex %> </b>页 </span>
                        <span><a href="javascript:Home.ChangePage(3)">下一页 <i class="fa fa-step-forward"></i></a></span>
                        <span><a href="javascript:Home.ChangePage(4)">末页 <i class="fa fa-fast-forward"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <%} %>

    <% if ( tplData.DataList.length<=0){ %>
    <li>
        <div class="divItem clearfix">
            <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6 text-center text-red">
                    <i class="fa fa-exclamation-triangle"></i> 没有检索到结果！
                </div>
                <div class="col-xs-3">
                </div>
            </div>
        </div>
    </li>
    <%} %>
</ul>